<template>
    <div class="basket">
        <h2 class="basket__total">
            <span class="basket__icon icon"></span>
            <span class="basket__text">Basket total:</span>
            <span class="basket__balance">£{{ total }}</span>
        </h2>
        <ul class="list basket__list">
            <li class="list__item" v-for="item in items" :key="item.id">
                <h3 class="text-sm font-bold">{{ item.name }}</h3>
                <p class="text-xs">{{ item.artistName }}</p>
                <button
                  @click="$emit('remove-from-cart', item)"
                  class="button basket__remove-button"
                >X<span class="visually-hidden">Remove track by {{ item.artistName }} from your basket</span></button>
            </li>
        </ul>
        <button
        <button
            :disabled="items.length === 0"
            @click="$emit('pay')"
            class="button basket__checkout-button bg-brand-blue hover:bg-brand-blue-dark">
            Checkout Now
        </button>
    </div>
</template>

<script>
const itemPrice = .99;

export default {
    props: ["items"],
    computed: {
        total() {
          return this.items.reduce((acc, item) => acc + Number(itemPrice), 0).toFixed(2);
        }
    }
};
</script>

<style lang="scss">
    @import "./scss/1-settings/mixins";

    $icon-size-large: 32px !default;

    .basket {
        @apply bg-gray-300 p-4;

        @screen xl {
            margin-top: -6rem;
        }
    }

    .basket__total {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
    }

    .basket__icon {
        @apply mr-2;

        background-image: url('~assets/icons/ui/shopping-basket.svg');
        flex: none;
        height: $icon-size-large;
        width: $icon-size-large;
    }

    .basket__text {
        flex: 1 0 auto;
    }

    .basket__balance {
        @apply font-bold;

        flex: none;
    }

    .basket__list {
        .list__item {
            border-top: 1px solid theme('colors.gray.400');
            margin-top: 5px;
            padding: 5px 30px 5px 0;
            position: relative;
        }
    }

    .basket__remove-button {
        @apply bg-danger text-xs px-2 py-1;

        border-radius: 50%;
        position: absolute;
        right: 0;
        top: 5px;
    }

    .basket__checkout-button {
        @apply w-full p-3 mt-6;

        &[disabled] {
            cursor: not-allowed;

            &,
            &:link,
            &:visited,
            &:hover,
            &:focus,
            &:active {
                background-color: theme('colors.gray.500');
                color: theme('colors.gray.300');
            }
        }
    }
</style>
