<template>
    <article class="card rounded shadow-lg" :aria-labelledby="'track-title-' + track.id">
        <img class="w-full card__image" :src="track.artworkUrl100" alt="Sunset in the mountains">
        <div class="card__content">
            <span class="card__new-entry" v-if="newEntry(track.releaseDate)">New Entry</span>
            <div class="card__details">
                <h2 class="font-bold text-sm mb-2" :id="'track-title-' + track.id">{{ track.name }}</h2>
                <h3 class="font-bold text-xs text-gray-700">{{ track.artistName }}</h3>
            </div>
        </div>
        <div class="px-2 pb-2 w-full text-center">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-semibold text-gray-700 mr-2 mb-2" v-for="genre in track.genres">{{ genre.name }}</span>
        </div>
        <button v-if="isInCart" :data-url="track.url" class="button card__button bg-gray-700 hover:bg-gray-800" @click="$emit('basket-click-handler', track)">
            Remove
        </button>
        <button v-else :data-url="track.url" class="button card__button bg-brand-blue hover:bg-brand-blue-dark" @click="$emit('basket-click-handler', track)">
            Add to basket
        </button>
    </article>
</template>

<script>
export default {
  name: "Card",
  props: ["track", "isInCart"],
  methods: {
      newEntry(releaseDate) {
          if (typeof releaseDate == 'undefined') return false;
          const weekLength = 604800000; // A week in seconds

          function getPreviousMonday() {
              var date = new Date();
              var day = date.getDay();
              var prevMonday;
              if(date.getDay() <= 1){
                  prevMonday = new Date().setDate(date.getDate() - 7);
              }
              else {
                  prevMonday = new Date().setDate(date.getDate() - day);
              }

              return prevMonday;
          }

          function onCurrentWeek(date) {
              let lastMonday = getPreviousMonday();

              const res = lastMonday <= date.getTime();

              return res; // true / false
          }

          let parts = releaseDate.split('-');
          var mydate = new Date(parts[0], parts[1] - 1, parts[2]);

          if (onCurrentWeek(mydate)) return true;
      }
  }
};
</script>

<style lang="scss" scoped>
  @import "./scss/1-settings/mixins";

  .card {
      align-items: flex-start;
      display: flex;
      flex: 1 1 50%;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 10px;
      max-width: calc(50% - 20px);

      @screen sm {
          flex: 1 1 percentage(1 / 3);
          max-width: calc(#{percentage(1 / 3)} - 20px);
      }

      @screen lg {
          flex: 1 1 percentage(1 / 4);
          max-width: calc(#{percentage(1 / 4)} - 20px);
      }
  }

  .card__image {
      @apply rounded;

      margin: 6px auto;
      max-width: calc(100% - 10px);
      width: 200px;
  }

  .card__content {
      @apply w-full px-6 py-4;

      flex: 1 0 auto;
      position: relative;
  }

  .card__button {
      @apply text-sm py-2 px-4 border border-brand-blue w-full;

      border-radius: 0 0 .25rem .25rem;
  }

  .card__new-entry {
      @apply bg-brand-blue-dark font-bold px-2 py-1 text-sm text-white;

      left: -10px;
      position: absolute;

      .card__image ~ .card__content & {
          margin-top: -4rem;
          top: 0;
      }

      &::before {
          @include triangle(topright, 10px, 10px, theme('colors.gray.600'));

          bottom: -10px;
          display: block;
          left: 0;
          position: absolute;
      }
  }
</style>
