<template>
  <div :class="identityClass">
      <a :href="href" class="identity__link" title="Baxi Music Store Home Page">
          <img :class="imgClass" :src="src" alt="Logo: Visit the Baxi Music Store home page" aria-labelledby="site-identity-description" />
          <span class="visually-hidden" id="site-identity-description">Logo: Visit the Baxi Music Store home page</span>
      </a>
  </div>
</template>

<script>
export default {
  name: "Logo",
  props: {
    identityClass: {
      type: String,
      default: 'identity'
    },
    href: {
      type: String,
      default: 'https://www.baxi.co.uk/'
    },
    imgClass: {
      type: String,
      default: 'identity__image'
    },
    src: {
      type: String,
      default: require("@/assets/baxi-music-store-logo.svg")
    }
  }
};
</script>

<style lang="scss">
@import "./scss/1-settings/mixins";

.identity {
    animation: 1s appear;
    flex: 0 1 auto;

    @screen sm {
        margin-right: 30px;
    }

    .site-header & {
        @include respond-max(640px) {
            @apply mb-3;
        }

        @include if-ie(ie) {
            .identity__image {
                height: 47.359px; // magic number
                width: 226px;
            }
        }
    }
}

.identity__image {
  max-width: 226px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
}
</style>
