<template>
    <nav class="site-navigation" aria-label="Sign in with your Apple ID to purchase items in your basket">
        <ul class="site-navigation__list">
            <li class="site-navigation__list-item">
                <button class="site-navigation__button site-navigation__button--signin">
                    <span class="icon site-navigation__icon site-navigation__icon--user-account"></span>
                    Sign in<span class="visually-hidden"> using your Apple iTunes ID</span>
                </button>
            </li>
            <li class="site-navigation__list-item">
                <button class="site-navigation__button site-navigation__button--basket">
                    <span class="icon site-navigation__icon site-navigation__icon--basket"></span>
                    <span class="visually-hidden">View your shopping </span>Basket
                </button>
            </li>
        </ul>
    </nav>
</template>

<style lang="scss">
    @import "./scss/1-settings/mixins";

    .site-navigation {
        flex: 1 1 auto;
        min-width: percentage(1 / 4);
    }

    .site-navigation__list {
        @apply flex w-full;

        justify-content: center;

        @include respond-min(520px) {
            justify-content: flex-end;
        }

        @include respond-min-and-max(768px, 1280px) {
            padding-right: 1rem;
        }

        @include respond-min(1280px) {
            justify-content: flex-start;
        }
    }

    .site-navigation__button {
        @apply text-white px-3 py-3;
    }

    .site-navigation__button--basket {
        @screen sm {
            display: none;
        }
    }

    .site-navigation__icon {
        @apply m-2;

        display: inline-block;
        height: 20px;
        vertical-align: middle;
        width: 20px;
    }

    .site-navigation__icon--user-account {
        background-image: url('~assets/icons/ui/user-account.svg');
    }

    .site-navigation__icon--basket {
        background-image: url('~assets/icons/ui/shopping-basket-white.svg');
    }
</style>
