<template>
    <form class="form site-search">
        <div class="form__append-group">
            <input class="form__input focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Search by track name, artist or genre" />
            <button class="site-search__button" type="submit">
                <span class="icon site-search__icon"></span>
                <span class="visually-hidden">Submit track name, artist or genre for search</span>
            </button>
        </div>
    </form>
</template>

<style lang="scss">
    $search-button-size: 36px !default;

    .site-search {
        flex: 1 1 auto;
    }

    .form__append-group {
        position: relative;
    }

    .form__input {
        @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;

        padding-right: $search-button-size;
    }

    .site-search__button {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        &:hover,
        &:focus,
        &:active {
            opacity: .7;
        }
    }

    .site-search__icon {
        background-image: url('~assets/icons/ui/search.svg');
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        height: $search-button-size;
        width: $search-button-size;
    }
</style>
