<template>
  <div class="container">
      <div class="site-footer__group sm:px-4">
          <Logo :identityClass="footerLogoClass" :src="footerLogoImage" />
          <Logo :identityClass="bdrThermeaLogoClass" :src="bdrThermeaLogo" :href="'https://www.bdrthermeagroup.com/'" />
          <address class="text-xs">
              Baxi Heating UK Limited,<br/>
              Brooks House, Coventry Road,<br/>
              Warwick,<br/>
              United Kingdom,<br/>
              CV34 4LL
          </address>
          <p class="text-xs mt-3 mb-1">Company registered in England and Wales: 3879156</p>
          <p class="text-xs mb-4">VAT registration number is 604665837</p>
      </div>
      <div class="site-footer__group lg:flex">
        <div class="px-4">
          <h3 class="site-footer__heading">About</h3>
          <ul class="list text-sm">
              <li class="list__item">
                  <a class="list__link" href="#" rel="noopener noreferrer">About us</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="#" rel="noopener noreferrer">Corporate Social Responsibility</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="#" rel="noopener noreferrer">Technical Support</a>
              </li>
          </ul>
        </div>
        <div class="px-4">
          <h3 class="site-footer__heading">Policy</h3>
          <ul class="list text-sm">
              <li class="list__item">
                  <a class="list__link" href="#" rel="noopener noreferrer">Privacy Notice</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="#" rel="noopener noreferrer">Accessibility</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="#" rel="noopener noreferrer">Terms</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="#" rel="noopener noreferrer">Cookie Policy</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="#" rel="noopener noreferrer">Disclaimer</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="#" rel="noopener noreferrer">Video Disclaimer</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="#" rel="noopener noreferrer">Complaints</a>
              </li>
          </ul>
        </div>
        <div class="px-4">
          <h3 class="site-footer__heading">Our Brands</h3>
          <ul class="list text-sm">
              <li class="list__item">
                  <a class="list__link" href="http://www.andrewswaterheaters.co.uk" rel="noopener noreferrer">Andrews Water Heaters</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="http://www.baxipottertonmyson.ie/" rel="noopener noreferrer">Baxi Potterton Myson</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="http://www.heatraesadia.com/" rel="noopener noreferrer">Heatrae Sadia</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="http://www.pottertoncommercial.co.uk/" rel="noopener noreferrer">Potterton Commercial</a>
              </li>
              <li class="list__item">
                  <a class="list__link" href="https://www.remeha.co.uk/" rel="noopener noreferrer">Remeha</a>
              </li>
          </ul>
        </div>
      </div>
      <div class="site-footer__group pr-4">
          <h3 class="site-footer__heading">Social</h3>
          <ul class="social-links flex">
              <li class="social-links__item" v-for="(link, name) in social">
                  <a class="social-links__link" :href="link">
                      <img class="social-links__icon" :src="require('@/assets/icons/social/' + name + '.svg')" :alt="name + 'icon'" />
                      <span class="visually-hidden">{{ name }}</span>
                  </a>
              </li>
          </ul>
      </div>
  </div>
</template>

<script>
  import Logo from "@/components/Logo.vue";

  export default {
    data() {
      return {
        footerLogoImage: require("@/assets/baxi-logo.svg"),
        footerLogoClass: "identity identity--footer",
        bdrThermeaLogo: require("@/assets/bdr-thermea-group-logo-vector.svg"),
        bdrThermeaLogoClass: "identity identity--secondary mt-5 mb-5",
        social: {
          facebook: "https://www.facebook.com/baxiuk",
          twitter: "https://twitter.com/baxiboilers",
          instagram: "https://www.instagram.com/baxiboilers",
          linkedIn: "https://www.linkedin.com/company/baxiheating/"
        }
      };
    }
  };
</script>

<style lang="scss">
  @import "./scss/1-settings/mixins";

  .site-footer {
      @apply bg-gray-200 mt-5 py-2;

      position: relative;

      .container {
          @apply py-6;

          justify-content: space-between;

          @screen md {
              flex-wrap: nowrap;
          }
      }
  }

  .identity--footer {
      .identity__image {
          max-width: 120px;

          @include if-ie(ie) {
              height: 40.766px; // magic number
              width: 120px;
          }
      }
  }

  .identity--secondary {
      @include if-ie(ie) {
          .identity__image {
              height: 23.2816px; // magic number
              width: 226px;
          }
      }
  }

  .site-footer__heading {
    @apply font-bold mb-3;
  }

  .site-footer__group {
      flex: 1 1 auto;

      .list__link {
          text-decoration: none;

          &:hover,
          &:focus,
          &:active {
              text-decoration: underline;
          }
      }

      &:first-child {
          @include respond-max(640px) {
              @apply px-4;
          }
      }

      &:last-child {
        @apply px-4;

        flex: none;
      }
  }

  address {
    font-style: normal;
  }

  .social-links {
    margin: -10px (-10px) 10px;
  }

  .social-links__link {
    display: block;
    margin: 2px;
    padding: 5px;
    position: relative;

    &::after {
      border: 2px solid theme('colors.brand-blue.logo');
      content: '';
      display: block;
      height: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%) scale(0);
      transition: transform .3s;
      width: 100%;
    }

    &:hover,
    &:focus,
    &:active {
      &::after {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }

  .social-links__icon {
    width: 30px;
  }
</style>
