/**
 * triangle($direction, $sizeH, $sizeV, $colo)
 * Mixin to add a CSS triangle to a pseudo element ::before / ::after
 *
 */
@mixin triangle($direction, $sizeH, $sizeV, $color){
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    -moz-transform: scale(.9999);

  @if $direction == top {
    border-width: 0 $sizeV $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }
  @if $direction == bottom{
    border-width: $sizeV $sizeH 0 $sizeV;
    border-color: $color transparent transparent transparent;
  }
  @if $direction == left{
    border-width: $sizeV $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }
  @if $direction == right{
    border-width: $sizeV 0 $sizeV $sizeH;
    border-color: transparent transparent transparent $color;
  }
  @if $direction == topright{
    border-width: 0 $sizeH $sizeV 0;
    border-color: transparent $color transparent transparent;
  }
  @if $direction == bottomright{
    border-width: 0 0 $sizeH $sizeV;
    border-color: transparent transparent $color transparent;
  }
  @if $direction == bottomleft{
    border-width: $sizeH 0 0 $sizeV;
    border-color: transparent transparent transparent $color;
  }
  @if $direction == topleft{
    border-width: $sizeH $sizeV 0 0;
    border-color: $color transparent transparent transparent;
  }
}

/**
 * respond-min($width)
 * Mixin - An inline min-width media query generator with an old IE fallback, (sass wrapped in the mixin gets added to the old IE stylesheet)
 * $width - the width you wish to use for the media query
*/
@mixin respond-min($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

/**
 * respond-max($width)
 * Mixin - An inline max-width (use with caution, stick to mobile first min-widths
 * where possible) media query generator with an old IE fallback (sass wrapped in
 * the mixin gets added to the old IE stylesheet)
 * $width - the width you wish to use for the media query
*/
@mixin respond-max($width) {
    @media screen and (max-width: $width - 1) {
        @content;
    }
}

/**
 * respond-min-and-max($min-width, $max-width)
 * Mixin - An inline min-width and max-width (use with caution, stick to mobile first min-widths
 * where possible) media query generator with an old IE fallback (sass wrapped in
 * the mixin gets added to the old IE stylesheet)
 * $min-width - the min width you wish to use for the media query
 * $max-width - the max width you wish to use for the media query
*/
@mixin respond-min-and-max($min-width, $max-width) {
    @media screen and (min-width: $min-width) and (max-width: $max-width - 1) {
        @content;
    }
}

/**
 * if-ie()
 * Mixin to be used for css specific to IE and Edge
 * $version - Options: ie = IE11 + IE10, edge = Edge, empty = Both $version ie and edge, defaults to both.
*/
@mixin if-ie($version: empty) {
    @if ($version) == 'ie' {
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            @content;
        }
    }
    @else if ($version) == 'edge' {
        @supports (-ms-ime-align: auto) {
            @content;
        }
    }
    @else {
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
            @content;
        }

        @supports (-ms-ime-align: auto) {
            @content;
        }
    }
}
