<template>
    <div class="site">
        <header class="site-header">
            <div class="container">
                <Logo />
                <PrimaryNavigation />
                <Search />
            </div>
        </header>
        <div class="container px-3 sm:px-5">
            <main class="site__main">
                <h1>Help us reach our target of £5000 in 3 easy steps&hellip;</h1>
                <ol class="list list--numbered">
                    <li class="list__item">
                        <p class="text-xs mt-3 mb-4">Browse the top 100 tracks from the <strong>UK Singles Chart</strong> below and add them to your basket. <a class="font-bold" href="#" title="Sign in to this app via your Apple ID">Sign in</a> via your <strong>Apple ID</strong> so that purchased tracks are added to your <strong>Itunes music library</strong>.</p>
                    </li>
                    <li class="list__item">
                        <p class="text-xs mt-3 mb-4">All tracks are <strong>99 pence each</strong>. 40 pence of which will be donated to <strong>Cancer Research UK</strong>. In addition, for every track purchased, <strong>Baxi Heating Ltd will donate a further 99p</strong>, bringing the total donation to <strong>£1.49 for charity per purchased track</strong>.</p>
                    </li>
                    <li class="list__item">
                        <p class="text-xs mt-3 mb-4">Pay for your music using <strong>Paypal</strong>, <strong>Apple Pay</strong>, or your <strong>Credit / Debit card</strong>. All charitable donations will be made automatically via our <a href="#">JustGiving page</a>. Please <a href="#">share this</a> or just <a href="#">make a donation</a> if you don't want to purchase any music but would still like to contribute.</p>
                    </li>
                </ol>
                <div class="flex flex-wrap">
                    <Card
                        v-for="track in feed"
                        :track="track" :key="track.id"
                        :isInCart="isInCart(track)"
                        v-on:basket-click-handler="basketClickHandler(track)"
                        :product="track" />
                </div>
            </main>
            <aside class="site__aside">
                <Basket v-on:pay="pay()" v-on:remove-from-cart="removeFromCart($event)" :items="cart" />
                <div class="charity-target">
                    <img class="charity-target__image" src="~/assets/cancer-research-logo.png" alt="Cancer Research UK logo" />
                    <img class="charity-target__image mt-4" src="~/assets/thermometer.svg" alt="target" />
                    <p class="text-xs text-white p-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at turpis eu sem efficitur scelerisque. Donec vel facilisis quam. Quisque gravida, urna eu lacinia suscipit, quam elit vestibulum mauris, non sollicitudin massa quam vitae neque.</p>
                </div>
            </aside>
        </div>
        <footer class="site-footer">
            <SiteFooter />
        </footer>
    </div>
</template>

<script>
import axios from 'axios';

const myaxios = axios.create({
  // ...
})
myaxios.interceptors.response.use(
  function (response) {
    return response.data
  },
  function (error) {
    // ...
  }
)

export default {
    asyncData({ params, error }) {
      return axios
        .get(`https://rss.itunes.apple.com/api/v1/gb/itunes-music/top-songs/all/100/non-explicit.json`)
        .then(res => {
          return { feed: res.data.feed.results }
        })
        .catch(e => {
          error({ statusCode: 404, message: 'Post not found' })
        })
    },
    data() {
        return {
            cart: []
        };
    },
    methods: {
        addToCart(product) {
            this.cart.push(product);
        },
        isInCart(product) {
            const item = this.cart.find(item => item.id === product.id);
            if (item) {
              return true;
            }
            return false;
        },
        removeFromCart(product) {
            this.cart = this.cart.filter(item => item.id !== product.id);
        },
        pay() {
            this.cart = [];
            alert("TODO: Implement payment gateway");
        },
        basketClickHandler(product) {
            if (this.isInCart(product)) {
                this.removeFromCart(product);
            } else {
                this.addToCart(product);
            }
        }
    }
};
</script>

<style lang="scss">
@import "./scss/1-settings/mixins";
/* Sample `apply` at-rules with Tailwind CSS
.container {
@apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
a,
.list__link {
    color: theme('colors.brand-blue.dark');
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: theme('colors.brand-blue.default');
    }
}

.button {
    @apply rounded text-white font-bold;
}

.site {
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.site-header {
    @apply bg-brand-blue-dark;

    margin-bottom: 20px;
    padding: 20px;

    @screen sm {
        .site-navigation {
          order: 1;
        }
    }

    .container {
        align-items: center;
        flex-wrap: no-wrap;
        justify-content: center;

        @include respond-max(640px) {
            flex: wrap;

            .site-search {
                @apply mt-3;

                flex: 1 0 100%;
            }
        }

        @include respond-min(640px) {
            justify-content: flex-start;
        }
    }
}

.site__main {
  @screen sm {
      @apply w-3/4;

      padding-right: 20px;
  }

  > .flex {
    margin: 0 (-10px);
  }
}

.site__aside {
    @screen sm {
        @apply w-1/4;

        padding-left: 20px;
    }
}

.charity-target {
    @apply mt-4;

    background-color: #72226d;
    padding: 10px;
}

.charity-target__image {
  @media (max-width: 640px) {
    max-width: 270px;
  }
}

.subtitle {
    font-weight: 300;
    font-size: 42px;
    color: #526488;
    word-spacing: 5px;
    padding-bottom: 15px;
}

.links {
    padding-top: 15px;
}

.list--numbered {
    @apply flex flex-wrap;

    .list__item {
        @apply px-4;

        counter-increment: list_item_count;
        padding-left: 2rem;
        position: relative;

        @screen sm {
            flex: 1 1 percentage(1 / 3);
            max-width: percentage(1 / 3);
        }

        &::before {
            content: counter(list_item_count) '.';
            color: theme('colors.brand-blue.default');
            font-weight: bold;
            left: .15rem;
            margin-left: 0;
            position: absolute;
            text-align: left;
            top: .75rem;
        }
    }
}

.icon {
    background-size: cover;
}

.visually-hidden {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
</style>
